$backgroundColor: #F5F5F1;
$primaryColor: #34A8C4;
$etsyColor: #F56400;
$textColor: #555555;

hr {
  margin-bottom: 0;
  border-bottom: 1px solid #E1E3DF;
  border-top: none;
}
header {
  display: inline;
  margin-left: 12em;

  h1 {

    display: inline-block;
    color: $etsyColor;
    font-weight: normal;

  }

  form {

    display: inline-block;
    width: 335px;
    margin-left: 1em;

    input {

      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 6px 10px;
      margin-left: 0;
      width: 100%;
      border: 1px solid #CFCBC8;
      background: #f9f9f8;
      height: 20px;

      &:hover {

        outline: none;
        border: 1px solid #bcb7b3;
      }
    }

    button {

      color: #fff;
      border-radius: 0 3px 3px 0;
      border: 1px solid darken($primaryColor, 10%);
      font-size: 14px;
      font-weight: bold;
      height: 34px;
      line-height: 17px;
      padding: 8px 12px;
      text-align: center;
      display: inline-block;
      background-color: $primaryColor;
      position: absolute;
      top: 29px;
      left: 560px;

      &:hover {

        outline: none;
        background-color: lighten($primaryColor, 10%);


      }
    }
  }

  ul {

    float: right;
    list-style: none;
    margin-right: 250px;
    margin-top: 24px;

    li {

      display: inline-block;
      font-size: 14px;
      padding-right: 15px;
      font-weight: normal;
     
      a {

        text-decoration: none;
        color: $primaryColor;

        &:hover {
          text-decoration: underline;
        } 

        img {

          width: 75%;

        }

        span {

          color: $textColor;
          text-decoration: none;
          display: block;
        }
      }

       button {

        padding: 8px;
        line-height: 16px;
        font-size: 14px;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        background-color: #fff;
        border-radius: 3px;

        &:hover {

          background-color: lighten($primaryColor, 47%);

        }
      }

      .butt {
        margin-right: 4px;

      }

    } 

    .v-line {

      position: absolute;
      top: 24px;
      right: 184px;


      &:before {
        content: '';
        position: absolute;
        display: block;
        right: 64px;
        top: 2px;
        background-color: #eee;
        width: 1px;
        height: 40px;

        }
      }     
  }
}

nav {

  margin-left: 12em;

  ul {

    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;


    li {

      display: inline-block;
      margin-right: 12px;
     
     a {

       text-decoration: none;
       color: $textColor;
       font-size: 14px;
       padding: 0 3px;


     }



    }
  }
}

.main-body {

  background-color: $backgroundColor;
  display: inline-block;
  width: 100%;

  a {

    text-decoration: none;
    color: $primaryColor;

    &:hover {
      text-decoration: underline;
    } 

  }

  .side {

    float: left;
    margin-left: 200px;

    h3 {
    
    font-size: 14px;

    }

    .sidebar1 {

      width: 245px;
      height: 410px;
      border: 1px solid black;
      font-size: 13px;
      background-color: #fff;
      border: 1px solid #E1E3DF;
      border-radius: 3px;

      ul {

        list-style: none;
        padding-left: 25px;

        li {
          padding-bottom: 6px;

          span {

            font-weight: bold;

          }


        }

      }



    }

    .sidebar2 {

      width: 245px;
      height: 600px;
      border: 1px solid black;
      font-size: 13px;
      border: 1px solid #E1E3DF;
      background-color: #fff;
      border-radius: 3px;

      .sec1 {

        .sec1-list {


          label {

            display: block;
          }

        }

      }

      .sec2 {

        .sec2-input1, .sec2-input2, p, button {
          display: inline-block;
        }

        .sec2-input1, .sec2-input2 {

          width: 70px;
          height: 40px;
        }

        p {


        }

        button {
          width: 40px;
          height: 40px;

        }



      }

      .sec3 {

        ul {

          padding-left: 0;

          li {

            display: inline-block;

            a {

              span {

                width: 20px;
                height: 20px;
                border: 1px solid black;
                padding: 0px 10px 5px 10px;

                
               
              }
              .color1 {
                  background-color: #F40932;

                }
                .color2 {
                  background-color: #FF7F00;
                }
                .color3 {
                  background-color: #F3CC09;
                }
                .color4 {
                  background-color: #08C209;
                }
                .color5 {
                  background-color: #0ACCF3;
                }
                .color6 {
                  background-color: #A60AF3;
                }
                .color7 {
                  background-color: #000000;
                }
                .color8 {
                  background-color: #ffffff;
                }
            }
          }
        }
      }

      .sec4 {


      }

      .sec5 {



      }

      .sec6 {



      }

    }

  }


  .results {

    width: 800px;
    float: right;
    margin-right: 105px;

    .results-text {

      margin-top: 16px;


      .results-text-right {
        display: inline-block;
        margin: 0;
        margin-left: 325px;
        font-size: 13px;
      }

      .results-text-left {
        display: inline-block;
        margin: 0;
        font-size: 13px;
        margin-left: 8px;

        span {

          font-weight: bold;
        }

      }


    }

    .results-box {
      border: 1px solid black;
      float: left;
      width: 220px;
      height: 222px;
      font-size: 13px;
      margin: 10px;
      text-overflow: hidden;
      border: 1px solid #E1E3DF;
      border-radius: 3px;

      img {

        width: 100%;
        border-radius: 3px;

      }

      .results-box-text {

        background-color: #fff;
        line-height: 22px;

        p {

          margin: 0;

        }

        .t-a {





          .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
            margin-left: 6px;

            a {
              color: #555555;

              &:hover {
                text-decoration: none;
              }
            }

          }

        } 

        .author {

          display: inline-block;
          font-size: 12px;
          margin-left: 6px;

          a {
              color: #AAAAAA;
            }

          }      

        .p-c{

          color: #7BC146;
          float: right;
          font-size: 12px;
          margin-right: 6px;

          .price {
           display: inline-block;
          }

          .currency {
          display: inline-block;
          }

        }

      }

    }

  }

}